<div *ngIf="user">
  <form (ngSubmit)="updateUser()">

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
      <label for="">User name</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
      {{successMessage}}
    </div>
    <div *ngIf="errorMessage" class="alert alert-error">
      {{errorMessage}}
    </div>

    <button type="submit" class="btn btn-success">Update</button>


  </form>
</div>
